## Pattern Broadcast
#set( $push_flow = $fragment_container_flow_push_sfdc_account_trigger )
#set( $trigger_flow = $fragment_container_flow_broadcast_sfdc_account_trigger )
#set( $connector_config = $fragment_container_config_http_general_binding)
#evaluate( $fragment_pattern_broadcast_endpoints )